<script setup>
import { ref } from 'vue'
let date = new Date().toLocaleDateString()
defineProps({
  msg: String
})

const count = ref(0)
</script>

<template>
  <h1>{{ msg }} </h1>
  <div> 今天是 {{date}}</div>
   <h2 style="color:orange">卧薪尝胆，三千越甲可吞吴</h2>
</template>

<style scoped>
.read-the-docs {
  color: #888;
}
</style>