<script setup>
import Home from './views/Home'
</script>
<template>

      <a href="https://vercel.com/">https://vercel.com/</a>
  <div>
      <img src="/vite.svg" class="logo" alt="Vite logo" />
  </div>
    <router-link to="/home">首页| </router-link>
    <router-link to="/my">个人中心| </router-link>
    <router-link to="/login">去登录</router-link>
    <router-view> </router-view>
</template>
<style scoped>
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
