<script setup>
import { ref } from 'vue'

const count = ref(0)
const msg = '我是登陆页面'
</script>

<template>
 <h1>{{msg}}</h1>
</template>

<style scoped>
.read-the-docs {
  color: #888;
}
</style>